.pillar {
  background: aqua;
  width: 200px;
  height: 50ex;
  margin: 20px;
}
.row {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.board {
  height: 93%;
  margin: 5px 20px;
  text-align: center;
}
button {
  background: chartreuse;
  padding: 4px;
}
